[2015-05-07 06:20] dmullerd opened #1 "Units"
Hi, Is there a way to specify units?
I'm drawing in mm. To test the script, I created a circle that is 50mm in diameter. Then I ran the script and it created a dimension line that says "12." See below.

Thanks,
D.

![screen shot 2015-05-07 at 2 14 52 pm](https://cloud.githubusercontent.com/assets/6380551/7509460/80529ecc-f4c3-11e4-898f-7cddcf6e9b7c.png)

[2015-05-09 17:52] adamdehaven commented on #1
@dmullerd I have a switch statement in the script that detects the document's ruler units (in your case, millimeters) but I can't figure out what I did for the conversion as I wrote this script a while back. It's based on the Document's units when you initially create it, or by showing the Ruler in Illustrator and then changing the units before running the script. The `switch` statement does run c

[2015-05-18 17:49] adamdehaven commented on #1
@dmullerd - I have updated the script to allow for specifying units, along with outputting a unit label. The units label is optional with a checkbox included in the popup to turn on or off.

Let me know how this works for you!

[2015-05-18 17:49] #1 closed

[2016-01-25 19:27] dhighet opened #2 "Label scaling"
Firstly thank you so much for this. I've been in need of a script like this for a long time.

Would there be a way to increase the size the labels? Or even take into consideration of working at different scales? I typically work in a fairly large format so typically things will be a 10th of their actual size (so something that is 24", will read in AI as 2.4").

Thank you!

[2016-01-25 20:49] adamdehaven commented on #2
There are a couple places where you can modify the code in the `Specify.jsx` file to accomplish what you're wanting:

To increase the font size, change the value of line `284`, to whatever size works best for your typical use case:

[code]

You can also change the default spacing for measurement lines, as well as the number of decimals in the measurement, and pixels per inch on lines `55` - `64`:

[2016-01-25 20:49] #2 closed

[2016-06-09 07:22] hyraxx opened #3 "Multiple Labels, Single Command"
Ability to add label on more than one side at a time, would be awesome

[2016-06-09 14:06] adamdehaven commented on #3
@hyraxx There are times when I only want the dimensions of one side, so this would have to be an option to "dimension all" or something similar.

[2016-06-09 19:17] hyraxx commented on #3
Maybe have it as a check box next to each side

[2016-06-09 19:21] adamdehaven commented on #3
This could work if a single object is selected, but not for two objects. I'll look into it :)

Leaving the issue open while I research (also gives me time to think of the cleanest UI)

[2016-07-05 19:02] detra opened #4 "Straight Quotation Mark [ " ] instead of [ in ] abbreviation for 'inch' unit in UnitValue object"
Thank you for your great script,
was looking to change/insert the
abbreviation of " in"  to the abbreviation of **"**.
Using the method of escaping the straight quotation mark " \""

On Line 304
`case RulerUnits.Inches:
  v = new UnitValue(v, "pt").as("in");
  v = v.toFixed (decimals);
  unitsLabel = " in"; // add abbreviation
break;`

I switched out to

`case RulerUnits.Inches:
  v = new UnitValu

[2016-07-06 12:30] adamdehaven commented on #4
I can confirm this works properly as an easy method of modifying one of unit abbreviations. Closing issue (as it's not a bug or issue), but good info for anyone else looking to modify the script in a similar way. Thanks!

[2016-07-06 12:30] #4 closed

[2016-07-06 15:41] detra commented on #4
Happy to share and add to your fine script

[2016-10-01 14:40] yuusuf-sallahuddin opened #5 "Distance between centre of 2 objects"
First up, great project :)

My issue that I would like to see is to have the ability to determine the distance between centres of 2 objects (e.g. 2 circles).

[2016-10-01 15:12] adamdehaven commented on #5
Calculating the center of an irregular object would be more complex than the script currently allows.

As an alternative, you could temporarily add a point to the center of each object, use the Specify script to get the dimension, and then remove the points while leaving the dimensions on the SPEC layer.

[2016-10-01 15:13] #5 closed

[2016-10-01 16:55] yuusuf-sallahuddin commented on #3
I have just done some playing around with the JSX and implemented the Top/Left/Right/Bottom as checkboxes to enable doing all 4 at the same time (or any combination of).

Works for Single or Double objects (although double objects just does the same thing twice, e.g. Top/Bottom gives same result, just placed in different location & Right/Left gives same result, again just placed in different locat

[2016-10-01 17:02] yuusuf-sallahuddin commented on #5
Thanks Adam. That's basically what I have been doing since finding your awesome addon. Note: I posted a fix in the Issue 3: https://github.com/adamdehaven/Specify/issues/3 for the doing Multiple Dimensions at once.

[2016-10-05 00:11] adamdehaven commented on #5
@yuusuf-sallahuddin Thanks! I'm taking a look at #3 now

[2016-10-05 03:28] adamdehaven commented on #3
@hyraxx: I'm using @yuusuf-sallahuddin's idea as a jumping-off point and I think I have a pretty clean solution. I'll further test tomorrow... stay tuned.

[2016-10-05 05:54] yuusuf-sallahuddin commented on #3
@adamdehaven I've further played with things & added the option to rotate the vertical axis-text (again via checkbox) because sometimes it fits nicer that way (in my cramped patterns), other times it fits better with the text displayed horizontally. Would be nice also if we could also select the font-size from the window when we Specify the object/s. Not adding as a new issue, as it's just suggest

[2016-10-05 15:48] adamdehaven commented on #3
@yuusuf-sallahuddin upload your text rotation and I'll take a look

[2016-10-07 01:16] #3 closed

[2016-10-07 02:00] adamdehaven commented on #3
@hyraxx @yuusuf-sallahuddin Complete! Check out all the improvements in [version 1.1](https://github.com/adamdehaven/Specify/releases/tag/v1.1)

[2016-11-11 09:05] KevinConsen opened #6 "Feedback/Request"
Thank you SO MUCH!!!

I've been searching for this for weeks, this is EXACTLY what I wanted to specify design dimensions.

Few points of feedback/requests if you don't mind:

Is there a way for the script to remember previous settings? Especially the decimal setting. Would save me a whole bunch of clicks.

Is there a way to key bind the script to run (f.e. using arrow keys for selecting the dimens

[2016-11-11 11:37] adamdehaven commented on #6
First of all, thanks for the feedback!

Regarding your feature requests:
1. The script is essentially JavaScript so there's no way to remember settings (at least no way I can think of off-hand. I'll look into it though). In the meantime, you could open the `.jsx` file and change the default number of decimals.
   - **UPDATE**: After doing a little research, it seems possible to store settings in a

[2016-11-13 16:26] adamdehaven commented on #6
@KevinConsen I have a new build of the script that allows for persistent options (until you close the application) that I think covers your first feature suggestion. Would you want to download the build and test it out for me? Let me know and I'll give you access to download

[2016-11-13 20:47] KevinConsen commented on #6
Absolutely, anything I can do to help!

On Sun, 13 Nov 2016 at 17:26, Adam DeHaven notifications@github.com wrote:

[2016-11-14 13:31] adamdehaven opened #7 "Persistent Settings"
Based on feedback from @KevinConsen in #6:

_(Splitting into separate issue to work separately)_

[2016-11-14 13:33] adamdehaven opened #8 "[Feature Request] Specify colors"
Based on feedback from @KevinConsen in #6:

_(Splitting into separate issue to work separately)_

[2016-11-14 13:51] #6 closed

[2016-11-14 13:51] #7 closed

[2016-11-14 14:08] adamdehaven commented on #6
@KevinConsen I have pushed version 1.2 which enables persistent settings. If you could test, and let me know if you see any issues, I'd appreciate it (comment on Issue #7)

[2016-11-14 14:09] KevinConsen commented on #6
@adamdehaven will do!! Any ETA on the color specification? That would make this a perfect design companion haha! (A)

[2016-11-14 14:14] KevinConsen commented on #6
@adamdehaven seems to work just fine!

[2016-11-14 14:17] adamdehaven commented on #6
@KevinConsen I haven't had a chance to look into the color specification as of yet. If I'm able to come up with something, it will be super-useful for me at my job as well. Watch Issue #8 for future updates, and thanks for your input!

[2016-11-14 14:22] KevinConsen commented on #8
If it's any help, I can help you brainstorm on how to do something like this.. I have some programming knowledge, but wouldn't be able to write it myself. But perhaps I could serve as a stepping stone to a solution? I'm willing to help any way that I can =]

[2016-11-14 14:24] adamdehaven commented on #8
Sure thing, I'll keep you posted. With the holidays coming up, it might be a bit before I have time to dig in

[2016-11-14 15:02] KevinConsen commented on #8
Maybe it helps.. When I added:

`alert('The color is' + ' ' + doc.selection[index].fillColor);`

in the object at rule 249 ( // Add all selected objects to array) and then ran the script it would pop up the alert and tell me " The color is [CMYKColor]" I'm not quite skilled enough to 'push' any further and internet hasn't been too helpful because I don't know what to google for.

But it seems to b

[2017-01-05 19:22] KevinConsen commented on #8
Hi @adamdehaven ,

Hope you had a great holiday season. Any word on my suggestions? Or any way that I can be of help?

[2017-01-05 20:20] adamdehaven commented on #8
@KevinConsen I initially looked into implementing something along these lines back when you opened the issue, but to be honest, haven't had much time to look into it since (holidays, work, life, etc.). I do **very much** still think this would be a great add, and as such, have left the issue open.

The biggest usability issue I ran into when playing around with this idea is what to do if an object

[2017-01-05 21:04] KevinConsen commented on #8
I'd say, at least as a start, just report back the fill color. I don't think that there will be a whole lot of object with a fill color and a stroke if you're using this to specify a design.... And it would be a great start.. Or perhaps specify them separately? I can help you figure out a visual way of how to display it if you'd like and make you an example?

[2017-01-18 05:01] yuusuf-sallahuddin commented on #3
Totally forgot about this & haven't logged into github in a while. I'll check out the improvements in the new version :) Thanks heaps for the update & work @adamdehaven

[2017-01-18 05:08] yuusuf-sallahuddin commented on #8
That is a great idea for an added feature. I am curious how it would work with gradients or pattern fills. I guess you could maybe just report the particular swatch ID or something like that.

[2017-01-18 05:13] yuusuf-sallahuddin opened #9 "Font size not based off units"
I've just given the new improved version a test & found that when using the advanced features & setting the font size to 20, it doesn't make it 20 of the units I have set in my preferences (I almost always work in mm). So in my test case, it sets it to 20 px (maybe?) rather than 20mm.

I wonder is it possible to have it set the font-size to either:

a) auto-detect the units from default font units

[2017-01-18 05:23] yuusuf-sallahuddin commented on #3
[Specify.jsx.old.txt](https://github.com/adamdehaven/Specify/files/713085/Specify.jsx.old.txt)

Here is my old version that had the option to rotate (or not) the vertical text. A very clumsy attempt at it anyway.

[2017-01-18 23:32] adamdehaven commented on #8
@yuusuf-sallahuddin things like that use-case is what I'm having trouble with. Without looking deeper so far, I feel like the only way to implement this (cleanly) would be to only allow if the object has a single fill color, which somewhat defeats the purpose.

[2017-01-18 23:33] adamdehaven commented on #3
@yuusuf-sallahuddin I played around with the rotated text but received feedback (well, from the people I work with that use the script daily) that thought 9/10 times they'd prefer the vertical, so I didn't implement. Thanks for posting the old version though for anyone that stumbles across this issue via search 👍

[2017-01-18 23:49] adamdehaven commented on #9
Good catch (I think)...

I have an easy fix but may not have time to look into it until over the weekend. Stay tuned

[2017-01-18 23:59] adamdehaven commented on #9
After looking into it, it appears your Illustrator settings control the units that the font size box uses. See the screenshot below:
![illustrator-units](https://cloud.githubusercontent.com/assets/2229946/22088140/f660d1d4-ddaf-11e6-93c4-a8beb1f8911e.PNG)

In my case, I use pixels for my document, pixels for object strokes, but have **Type** set to points. If you navigate to **Preferences** > **Un

[2017-01-19 00:45] yuusuf-sallahuddin commented on #3
@adamdehaven It's very rare that I would use the text for the vertical axis rotated on a horizontal aspect also, just sometimes when I created Specify on objects, the text created was longer than the object's height. I guess, sometimes it would be the same with horizontal axis text being wider than the object's width too.

[2017-01-19 00:51] yuusuf-sallahuddin commented on #9
In my AI preferences I have all three units set to millimetres. So for whatever reason, it is not creating the font in millimetres height, but some other unit type (possibly points or pixels). Not a huge issue since I can always increase the size, just unexpected behaviour.

Also, a side thought, being able to select the font would be awesome too. I wonder, does it use a specific font currently or

[2017-01-19 01:36] adamdehaven commented on #9
With the current version, the settings persist (once changed) until you close Illustrator. Do you not see this behavior.

**Example**:
1. Run the script the first time and change the font size to "20"
2. Run the script a second time for a different dimension and the dialog retains the font size "20" from the previous run.

[2017-01-19 01:41] yuusuf-sallahuddin commented on #9
I didn't notice that when I tested it yesterday on the same file. I had to re-enter the values for every set of objects I spec'd. Will give it another test & report back.

[2017-01-19 01:42] adamdehaven commented on #9
I believe font selection on the dimensions themselves might be a little overkill. As a workaround, you can select all of the elements in the SPEC layer and apply a Paragraph Style that changes the font family, font style, etc. all at once.

I'm still going to be looking into the default units suggestion.

[2017-01-19 02:03] yuusuf-sallahuddin commented on #9
That's a good idea for the font selection. Just do it via the whole SPEC layer. Didn't think of that.

[2017-01-19 09:53] KevinConsen commented on #8
@adamdehaven I'd say that would be a great start. Especially nowadays. A whole lot of designs, especially in illustrator, are single color (material design and other styles). So just being able to specify the (single) fill color would be great and then later find a way to expand.

Also perhaps a similar feature for Fonts? Size, font type, color etc?

I'm very much looking forward to being able to

[2017-01-19 18:36] adamdehaven commented on #9
Utilizing alternative units (i.e. mm) is not an option.

I've come up with a viable solution that converts the document's `RulerUnits` into points and added a units label on the **Font Size** input to allow users to specify the label font size in the same units as the document.

[2017-01-19 18:43] adamdehaven commented on #9
@yuusuf-sallahuddin I've pushed the solution into the master branch. Please download the newest version (`1.2.1`) and let me know if it works as expected. Thanks for your input!

[2017-01-19 18:43] #9 closed

[2017-01-19 19:48] yuusuf-sallahuddin commented on #9
@adamdehaven Works beautifully :) Also, I notice that the options are actually persisting for me with this new version. Thanks again.

[2017-01-19 21:58] adamdehaven opened #10 "Refactor unit conversion for measurements"
Look into refactoring the switch statement that includes all the math to a simplified form. Easy to do, just need to do it.

[2017-01-23 15:29] KevinConsen opened #11 "when specifying measurements of a dashed line, the specify line is dashed as well"
I just noticed when trying to specify a dash-lined element that the line to specify the length was also dashed. I found it rather funny, but I can also imagine that this is not supposed to happen :P

![Dashed line](http://i.imgur.com/Tm6oNA9.png)

[2017-01-23 21:24] adamdehaven commented on #11
I can confirm the behavior, and obviously it's not intended. I'm looking into it. Thanks!

[2017-01-23 22:00] #11 closed

[2017-01-23 22:01] adamdehaven commented on #11
@KevinConsen Fixed... please download version 1.2.2 and let me know if this fixed the issue for you as well. Thanks again!

[2017-01-24 00:34] yuusuf-sallahuddin commented on #11
Confirmed fixed :) Thanks again.

[2017-02-05 09:16] zulhfreelancer opened #12 "[Question] - Minimum Adobe Illustrator Version?"
Hi,

What's is the minimum Adobe Illustrator version I need to have that supported by this Specify?

Thanks.

[2017-02-05 13:51] adamdehaven commented on #12
I'm not sure of the minimum as I don't have older versions of Illustrator available to test. It should work back to at least CS 5.

[2017-02-05 13:51] #12 closed

[2017-06-12 13:15] adamdehaven commented on #10
Implemented in last release but forgot to close issue.

[2017-06-12 13:15] #10 closed

[2017-08-10 06:13] KevinConsen commented on #8
Hi @adamdehaven

Any progress on this feature :D?

[2017-08-10 12:03] adamdehaven commented on #8
I did recently add the ability to configure the scale of the drawing and modifying the labels accordingly. The color addition you've requested has proven a little more difficult. Still looking into it when time allows.

[2018-08-28 14:56] adamdehaven opened #13 "Detect Document Color Mode"
Add a switch in the script to detect document color mode (RGB vs. CYMK) to allow user to specify the color of the dimension lines and text.

[2019-03-28 16:27] chancrescolex opened #14 "Ability to adjust size of leader lines"
I'm not sure if leader line is the correct term, but I'm referring to the 2 lines perpendicular to the edge being defined, The size of these lines looks fine in your examples where the edge is 200px - 1000px, but the larger the size of the artwork, the more these lines get lost and the parallel line becomes too close to the edge being defined.

I'm not sure of the best implementation, but maybe it

[2019-03-29 01:05] adamdehaven commented on #14
I think this is a great feature request and I've been looking into whether I can reasonably make the lines dynamic depending on the artwork, however, there's a lot of variables to consider for all users (artboard size, scale, etc.).

I don't currently see a clear path towards a universal solution, so in the meantime, I have a bit of a workaround you can implement by editing the `Specify.jsx` file:

[2019-03-29 01:05] #14 closed

[2019-08-29 14:23] alexleitte commented on #8
First, it was a very good job! Thank you, guys!

In my opinion, would be great if we could choose a swatch color that already exists in the document, like a TECHNICAL COLOR.

[2019-08-29 14:28] adamdehaven commented on #8
@alexleitte You can easily change the color of the spec layer by selecting all elements in the layer, and just update the color as desired.

[2019-08-29 17:15] alexleitte commented on #8
Yeah... I know that... it's just an idea to increase your project into something closer to CadTools, for example.

[2019-08-29 17:19] alexleitte opened #15 "Layout Adjustment"
First, this script is fantastic... I just start to use it and im impressioned with his possibilities.
It will help me a lot.

I have an idea to turn his layout into something more intuitive.
What about changing the buttons into an axis? I made a study... I hope you appreciate it.

![image](https://user-images.githubusercontent.com/54675664/63961780-eb526a80-ca67-11e9-8faa-208fd7652bf1.png)

[2019-08-29 18:59] adamdehaven commented on #15
Unfortunately layouts like your example aren't totally compatible with all versions of Adobe Illustrator that I try to support.

[2019-08-29 19:00] #15 closed

[2019-08-29 20:45] alexleitte commented on #15
What about trying a sequence more friendly, like:

LEFT / TOP / BOTTOM / RIGHT

It's just because in actually way, we have RIGHT at the left side and LEFT at the right side...

[2020-03-11 13:50] crzyss opened #16 "Font Issue"
its will be completed tool if we have select custome font. Becouse I using Adobe Midle East Version. Onece i run this script text comming Arabic Numbers
![Screen Shot 2020-03-11 at 4 48 59 PM](https://user-images.githubusercontent.com/20498727/76423782-5803d580-63b8-11ea-90d3-b858cdab8564.png)

[2020-03-11 13:58] crzyss commented on #16
I solved this issed after few minutes and i sound solution on illustrator. I change default character styles. if some one have special midle east follow
![Screen Shot 2020-03-11 at 4 57 10 PM](https://user-images.githubusercontent.com/20498727/76424571-75856f00-63b9-11ea-8fb9-35c9d0fc9c10.png)
![Screen Shot 2020-03-11 at 4 57 01 PM](https://user-images.githubusercontent.com/20498727/76424573-774f3

[2020-03-11 14:34] adamdehaven commented on #16
@crzyss I'm glad you were able to figure it out. Nice job!

[2020-03-11 14:34] #16 closed

[2020-05-11 15:11] schroef commented on #13
Doesnt matter if it knows what the document mode is. Color mode doesn't matter or isnt really important because it will be transformed automatically. It was the first thing I was thinking about when using it just now.

[2020-05-12 01:26] schroef commented on #13
I was testing the native java color picker script which opens OS color picker. Somehow in OSX it close also the dialog window. Then i tried a couple of other versions and found a super nice one. One small thing is that your setup uses string input for the color code and lots of code is setup for that. So i simply converted the result of the color picker to a string and slice it in 3.

Looks much b

[2020-05-12 01:32] adamdehaven commented on #13
This looks really nice. I should have some time to take a closer look this weekend

[2020-05-12 01:52] schroef commented on #8
I got a nice color picker working now :)

![added-colorpicker](https://user-images.githubusercontent.com/6923008/81629674-b1e14580-93d1-11ea-89ef-573a4276af8b.gif)

[2020-05-12 15:32] schroef commented on #13
I can setup a repo and make a pull request if you're okay with that. Saves time and also why do work which is already done?

PS I also added the head & tail size and also stroke width. I found them a bit tiny and I saw you have hardcoded them.

One issue I found, not sure where things go wrong, is that restore defaults doesn't seem to reset all fields. Items like decimal and custom unit are not re

[2020-05-12 16:22] schroef commented on #13
PS is it perhaps an idea to put items in a tabbed dialog window. Its already quite big and I got a feeling it overwhelmed a user. Perhaps you know this AWESOME perhaps not. But on https://scriptui.joonas.me/ you can build dialog panels using a online build components, its made by Joonas and so nice to build a panel like this. Way and way better, easier and direct visual feedback how it will look.

[2020-05-12 21:10] adamdehaven commented on #13
@schroef if you'd like to submit a pull request for the initial color picker addition (without the new tabbed interface), I'll definitely take a look. I appreciate the work you put into it!

For the tabbed interface, if you'd like, you can submit a separate pull request for that as well.

[2020-05-13 01:20] adamdehaven commented on #13
@schroef I had some time this evening and I implemented a new UI based on the tabbed interface you suggested (not merged into master yet). If you're going to open a pull request, just include the color picker, and the head, tail size, and stroke width. 🎉

[2020-05-13 04:16] schroef opened #17 "Color Picker Dialog branch"
Hi Adam,

i just did some work on the color picker dialog. I noticed you already started making a new UI, that's super nice. That https://scriptui.joonas.me/ site is pretty handy right. Only thing you need to build in is the functionality. But i find this so much faster and its also great for seeing issues immediately without having to launch an Adobe app and run the script.

I did some minor clea

[2020-05-13 04:23] schroef commented on #13
Nice man! Yeah i was looking at the branches and noticed some code from the scriptui site. So i though ow he already knows. Then i i tried fixing the current UI thinking that backup JSON was that UI. hahahah tada that was the new UI you was working, was a nice surprise to see that.

I made a new post for the color picker dialog #17 I did some more tweaker making it all a bit more organised and cle

[2020-05-13 04:29] schroef commented on #17
PS that persistent mode you build in, is that the official way for Illustrator to do it like that? I also do some photoshop scripting and have been busy with updating an extension panel. The way persistence works in photoshop is really different. But perhaps that's the difference with using js and jsx script it guess. I don't know that much about it. I sort of understand it, but I'm no developer i

[2020-05-13 05:20] schroef commented on #17
I see i need to change the gap behavior, i did noticed it earlier this still uses internal pixels methods. I see you have added the conversion function, so using that should not be an issue i think.

EDIT
Well that seems for pt to custom value. hmmm hope i can figure out how to do this one

[2020-05-13 06:36] schroef commented on #17
Ive updated both gap and size, they will now use doc ruler settings. Thats seem more useful than the internal px value right?

[2020-05-13 14:19] adamdehaven commented on #17
@schroef Ok, do you want to push the code so I can take a look?

As for the persistent settings, I believe this is specific to .jsx

[2020-05-13 14:54] schroef commented on #17
I guess that would be it, i need to read more about that those methods and how to use that.

PS why didn't or don't you make an extension panel of this script? That would be much more convenient, styling can be done complete custom. It could be localized.

I was looking at [Creative Cloud](https://exchange.adobe.com/creativecloud.html?q=dimension) and those things are price. One I saw is $74,- !!!

[2020-05-13 14:55] schroef commented on #17
Ps i got the branch here, i wasn't sure if I should do a pull straight away. Im still doing cleaning of my left overs
https://github.com/schroef/Specify/tree/color-picker-dialog

[2020-05-14 03:48] schroef commented on #17
I did some more work on a separated branch. Ive split the label and lines part a bit better. Now lines items are at the bottom and all inputs also have measurement indication. Though perhaps its cleaner to add a title label for that, i find all those indicators a bit distracting.

Ive also added the option to color lines separate from the label color. I guess that can be handy as well

![specify-d

[2020-05-14 12:35] adamdehaven commented on #17
@schroef I've got a working version put together on 2 separate branches. Here are screenshots of the new UI - what are your thoughts? I've changed to a tabbed interface like you suggested. I like the idea of separating the different settings on separate tabs.

![options](https://user-images.githubusercontent.com/2229946/81934960-d6017a00-95bd-11ea-8fbb-af80466187b5.png)
![styles](https://user-imag

[2020-05-14 15:21] schroef commented on #17
Looks really nice indeed. My only thought is that the labels shouldn't be that long, it looks a bit messy I think. In my branches I tried shortening them since they also have a tooltip. For instance the color picker. I initially had click on it, but every user knows how this works. So I removed it, looks cleaner to me.

I think it will also look nice if that update button is in a tab

[2020-05-14 21:04] schroef commented on #17
What you think of a horizontal tabbed menu style. This one also looks very pleasing. If I compare it to the vertical version, I see less waste of space. The vertical one has a bit of waste space due to the width of the panel for the menu.

![specify-dialog-horizontal-tabs](https://user-images.githubusercontent.com/6923008/81985817-c22d3680-9604-11ea-923d-5f934a50c64e.png)

[2020-05-15 02:10] adamdehaven commented on #17
I made a ton of progress tonight (including some of your suggestions), but I forgot to upload the screenshots before I turned off my computer, so I'll update tomorrow.

One thing I'm struggling with is including the colorPicker.js script. I have the include working; however, I don't want users to have to manage 2 separate files.

It says in the docs that you can include the script within your file

[2020-05-15 23:00] adamdehaven commented on #17
@schroef Here's where I'm at so far. I really think this is the layout to go with. Just trying to do more research on including the colorPicker.js script, like I talked about above ^ .

![options](https://user-images.githubusercontent.com/2229946/82102686-48697b80-96de-11ea-995e-d026c196fd68.png)
![styles](https://user-images.githubusercontent.com/2229946/82102689-4a333f00-96de-11ea-8dd3-ffc9adef8

[2020-05-15 23:10] schroef commented on #17
Looking good! Question, does the tabbed menu work for you? For me it crash illustrator 2017 and 2018 when I cancel the window. I was busy last night and spend hours figuring this out. It seems it is a known bug for InDesign 2017 and they released a fix. I tried using some parts of that and installed them inside illustrator app but it doesn't work.

Then I found a different script which sort of doe

[2020-05-15 23:12] schroef commented on #17
I do wonder if the input fields need to be that wide, they look huge now? Still think the color button doesn't need any text, it doesn't even need a label I think.

[2020-05-15 23:14] adamdehaven commented on #17
@schroef Try downloading the `new-dialog-ui` branch and running in Illustrator 17/18 and see if it crashes for you? The inputs are wider because often times if I'm working in inches, I may only want the label to be 0.175 inches wide, so I need the space to fit the characters.

What's the different script you found that runs in a palette? Link?

I've read that the palette isn't as widely supported

[2020-05-15 23:25] schroef commented on #17
Ah Okay thanks for clearing that. I always use dialog when making scripts. I also hardly see palette used in any script. There is another option I believe, is that windowless?

I'll try your version layer tonight but I got a feeling it wi crash as well. Ps how did you add all the functionality in? I basically pasted all button functions and another functions below that script from the website. Add

[2020-05-15 23:26] schroef commented on #17
Ps does the horizontal tab version work properly for you, what illustrator are you using?

[2020-05-15 23:42] adamdehaven commented on #17
Horizontal works fine for me. I have CC 2019 and CC 2020

[2020-05-15 23:58] schroef commented on #17
ah nice, yeah its a shame i cant upgrade due to my old system :(

I found that script here https://github.com/Silly-V/Experiments
He has a couple more super nice scripts. Also that recolor thing i mind-blowing!!!

Look how tiny this window is for his version. Super nice! Though it looks kinda retro because of that logo hahaha, that's actually an SVG he embedded. WHat i also like in this version is

[2020-05-16 00:11] schroef commented on #17
PS i noticed you added folders now, is that a common for these scripts? I would thing we should at least name the folder with something with specify, i know vendor is common for 3rd party parts. PS i also renamed the picker.js file to colorpicker.inc that way it does show the script when you load the script. Thats also how Photoshop does it for helper scripts. The script will still run when its be

[2020-05-16 00:33] adamdehaven commented on #17
The folders are for the README.md images, and for now, for the colorPicker.js vendor script (temporary location).

I'm not sure what you mean by this:

[2020-05-20 19:19] schroef commented on #17
Sorry if i wasnt clear enough. What the colorPicker file ends with inc, is so it wont show from the script file menu but still runs. If it keeps the JS extension it will show in the script menu and a user perhaps could things its usable as standalone.

I noticed this being done in PS script, I thought it was handy.

[2020-06-16 03:00] adamdehaven commented on #13
Resolved with v2.0.0

[2020-06-16 03:00] #13 closed

[2020-06-16 03:01] adamdehaven commented on #17
Resolved with v2.0.0

[2020-06-16 03:01] #17 closed

[2020-06-17 16:08] JGonzo10 opened #18 "Scaling is in correct with the new larger art boards in latest update"
Illustrator just came out with a minor update.  Minor update includes being able go much larger with the art boards.  We created an artboard that is 1000in x 1000in.  We draw a 500" x 500" square.  At 1/1 it provides a measurement of 50.00 in x 50.00 in
![Screen Shot 2020-06-17 at 11 04 24 AM](https://user-images.githubusercontent.com/42037576/84921984-d4c6df80-b08a-11ea-9cba-b587777297ec.png)

[2020-06-17 17:46] adamdehaven commented on #18
Your new document is created on a large canvas if one of the following settings is applied in the New Document dialog:
- Artboard size larger than 227 inches (default canvas size) specified in Feet, Meters, Yards, or Feet and Inches.
- High number of artboards that cannot be accommodated in the default canvas size.

The unit issue appears to be a known issue:

I can adjust the label output based o

[2020-06-17 19:12] JGonzo10 commented on #18
Adam:

I would like to help and test it out for you.  I work at a sign shop, so we work with a lot of larger graphics.  This new increased artboard is
wonderful for people in our industry.  Please let me know when you have aversion ready for me to test.

[2020-06-17 21:37] adamdehaven commented on #18
Looking through adobe's documentation, it doesn't appear that there is a way to "detect"  when a large canvas is being used other than simply by measuring the artboard.

The problem is, once the artboard exceeds 227 inches in either width or height, the values returned to the script appear to be 1/10 of their original value.

For example, if I create an artboard that is 400 inches wide by 300 inch

[2020-06-17 23:37] #18 closed

[2020-06-17 23:47] adamdehaven commented on #18
I have since found the `app.document.scaleFactor` that gives me exactly what I needed. I have updated the script with the fix to [version 2.0.2](https://github.com/adamdehaven/Specify/releases/tag/v2.0.2).

In addition, the [free Adobe Exchange extension](https://exchange.adobe.com/creativecloud.details.104123.specify.html) has since been approved 🎉

The current version of the extension is 2.0.0,

[2020-06-17 23:57] JGonzo10 commented on #18
This is great news.  Thank you for looking into this.  I will give this a
shot and download through Adobe Exchange.  I will continue to use this
myself along with my team and let you know of any issues.

Joel Gonzales

[2020-06-18 00:07] adamdehaven commented on #17
@schroef I just released the script as an official Adobe extension as well! [Feel free to download it from Adobe Exchange](https://exchange.adobe.com/creativecloud.details.104123.specify.html)! 🎉

[2020-06-18 01:44] schroef commented on #17
Wow that's very cool man! I was also thinking of trying it but I didn't find the time yet. Will try it!!!

Ps if your thinking about adding localize, I've tested this for a different extension and got it working. It's a lot of work but really helps users something. At least it's nice to see it in your own language

[2020-06-18 01:46] schroef commented on #17
Ps is it me or does it look like a script window? Or did you use same design?

[2020-06-18 01:48] adamdehaven commented on #17
What's your primary language?

[2020-06-18 02:00] schroef commented on #17
My primary language is Dutch, but i have all my apps on English. I prefer this so i can find stuff easier when i need to do some Google work.

PS i tried installing the manual way with Anastasiy Extension Manager and i got an license error.
Ill check if updating that manager helps
![Screen Shot 2020-06-17 at 9 57 09 PM](https://user-images.githubusercontent.com/6923008/84969096-fdc88e00-b0e5-11ea-

[2020-06-18 02:04] adamdehaven commented on #17
I haven't been able to install anything with that extension manager without receiving the same license error. I think it's flawed

[2020-06-18 02:14] schroef commented on #17
I did try ZCP with which i get more luck most of times. I got an error about a license as well, but not the same.

![Screen Shot 2020-06-17 at 10 10 28 PM](https://user-images.githubusercontent.com/6923008/84969827-7b40ce00-b0e7-11ea-9cb5-2049405fdbf9.png)

I just checked errors codes for Exchange extensions. Ill download it again and see if that helps
https://helpx.adobe.com/uk/exchange/kb/error-

[2020-06-18 02:16] adamdehaven commented on #17
Let me know how it goes. I can take a look tomorrow. It should install fine from CC and the link I provided.

[2020-06-18 02:31] schroef commented on #17
Yes i know but i also try other options. Ive tried another ZXP installer. I got like 3 of them. UberManager also gave an error with the file. Ive also downloaded again, same issue

[2020-06-18 04:48] schroef commented on #17
I got it installed but it doesnt show in my older illustrator. I tried everything i know about these panels and did changes accordingly. Still panel wont show in the extension menu.

PS one thing i noticed, in the manifest file, you have named it "com.adamdehaven.Specify.Extension" but does that actually work for you? Because according to everything i read, there are 4 types . These are: Panel, Mo

[2020-06-18 06:21] schroef commented on #17
Okay i got it working, off that took a while. Its something related to the paths. Its so confusing all the different method of paths in the different coding languages.

Works nice and weird things is, even though i think its still a script. The horizontal panel doesn't crash now for me like it used to do. Quite weird huh?

I still hope to make the real panel i had in mind. Meaning, everything is v

[2020-06-18 06:28] schroef commented on #17
PS i did notice a difference in your version vs my version for the HEAD & TAIL size. If use both scripts and set them both to the default. Mine are bigger then yours somehow??

If i then check the size of them, they seem to divided in half? Same is for the gap size

Top one is my version of the script, gap & heal&tail size are correct of what i input. In your version they are around half of that i

[2020-06-18 06:32] schroef commented on #17
Another detail i found, the button to github gives me this weird address, same as for the website link ```file:///.file/id=6571367.13548776```

In the panel i did some work on, URL are done with the csinterface
``` csInterface.openURLInDefaultBrowser("http://www.sbaril.me/links"); LoseFocus();```

[2020-06-18 12:54] adamdehaven commented on #17
There's an updated version 2.0.1 that is awaiting approval. I received the same license issue when trying to install through one of the extension managers instead of through Creative Cloud for v2.0.0, but that issue seems to be resolved with the v2.0.1 version that is pending.

@schroef so you're saying the GitHub link in the panel didn't work for you at all? I create the link via a file path, whi

[2020-06-18 13:27] adamdehaven commented on #17
@schroef **UPDATE**: I tested the `csInterface.openURLInDefaultBrowser` method you suggested, and have updated the extension accordingly. v2.0.2 has this fix; the official Adobe Extension is pending but it should be implemented there in the next couple days.

[2020-06-18 18:58] schroef commented on #17
The link did not work on my old illustrator, it show the path like I mentioned earlier. Weird thing is the script looks okay. Seem like a general supported method for jsx files to get urlpath.

I did lower the cep to 7 in my tests.

I tried some other plugins and many actually have install issues with the license. Perhaps that because some were quite old. That should not be an issue with yours. I'

[2020-06-18 21:08] adamdehaven commented on #17
When you download from Adobe Exchange it installs through the Adobe CC app on your computer, so possibly

[2020-06-18 21:15] schroef commented on #17
Nsorry iwasnt clear. I meant for being a developer. I was just curious if you need to Ake say payment to have some kind of license key attached to your extension

[2020-06-19 00:58] adamdehaven commented on #17
Nope, it's free.

[2020-06-19 13:57] adamdehaven commented on #18
@JGonzo10 I needed to make an update to the scale factor. You'll want to download the latest version [2.0.2](https://github.com/adamdehaven/Specify/releases/tag/v2.0.2)

[2020-06-19 14:06] JGonzo10 commented on #18
Thank you for the heads up.  I also installed it using Exchange.  That
should update on its own within the next few days, correct?

[2020-06-19 14:08] adamdehaven commented on #18
@JGonzo10 Yes, the Exchange extension should auto-update (assuming you have the Creative Cloud app running), although it's still currently pending approval. Hopefully it will be approved in the next 24 hours.

[2020-06-22 12:31] JGonzo10 commented on #18
Adam:

Just following up on the approval of the updates on exchange. Is it still
pending?

Thanks,

Joel Gonzales
JGonzo10@gmai\

[2020-06-22 12:49] adamdehaven commented on #18
@JGonzo10 I believe they only do approvals Monday-Friday, so hopefully it will be approved today or tomorrow.

[2020-06-23 09:50] adamdehaven commented on #18
@JGonzo10 [the new version of the extension is available now](https://exchange.adobe.com/creativecloud.details.104123.specify.html)

[2020-10-16 19:46] adamdehaven commented on #8
Stale. Will reopen if I have time to research or if anyone wants to pitch in.

[2020-10-20 18:19] JGonzo10 commented on #18
Will you be updating the Adobe extension to be compatible with the new 2021
version of Illustrator?

What is interesting is the extension isn't compatible, but it says it is on
the website, but if you install the script, it seems to be working fine.

Thanks,

Joel Gonzales
708-289-2305
JGonzo10@gmail.com

On Tue, Jun 23, 2020 at 4:50 AM Adam DeHaven <notifications@github.com>
wrote:

[2020-10-21 02:37] adamdehaven commented on #18
@JGonzo10 I’m kinda new at Adobe Extensions, so I’m guessing I’ll just need to update the supported versions in Adobe Exchange. I’ll look into this in the coming days and push an update — thanks for the head’s up! 🙌

[2020-10-22 00:34] adamdehaven commented on #18
@JGonzo10 can you go into Illustrator Menu > Help > About Illustrator and let me know what version you show?

[2020-10-22 00:58] JGonzo10 commented on #18
It shows version 25.0

Joel Gonzales
708-289-2305
JGonzo10@gmail.com

On Wed, Oct 21, 2020 at 7:34 PM Adam DeHaven <notifications@github.com>
wrote:

[2020-10-22 01:07] adamdehaven commented on #18
@JGonzo10 I just pushed an update here to the extension. I installed on my Windows computer and it runs with no issue.

You can run manually by downloading the newest version (3.0.0), or, hopefully Adobe will approve the new version in Exchange over the next couple days, then you can update through Creative Cloud.

I wouldn't mind seeing what is happening on your end (you've been so helpful in the

[2020-10-22 01:33] JGonzo10 commented on #18
Great! I just emailed you more info on your personal email address.

Joel Gonzales
708-289-2305
JGonzo10@gmail.com

On Wed, Oct 21, 2020 at 8:07 PM Adam DeHaven <notifications@github.com>
wrote:

[2020-12-12 13:24] schroef commented on #17
@adamdehaven
Hi adam, been a while. Hope all is fine with you. I got something nice perhaps. Im working off and on on a extension for photoshop and was investigating the again how to use a color picker. I know now how we can call the native color picker.

Are you interested in the code? I know you already the other implementation i found and the colorwheel is actually very nice. I was just thinkin

[2020-12-13 00:45] adamdehaven commented on #17
@schroef if you want to fork a fresh copy and create a new PR, I'll be happy to take a look in the next couple weeks over the holiday.

Just try not to add any extra changes other than the single change for now so I can see what you've got in mind 👍

[2020-12-13 16:12] schroef commented on #17
I just got a Windows machine :) loo so much to learn after 17yr osx I'm not fully setup yet.

Can I also show example code of how to call the color picker? I found the code in one of photoshoots scripts. Have not test it yet if it also run on illustrator

[2021-02-18 18:38] creamvespa opened #19 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**

Please add feature to be able to measure line/curve segment length in different angles other than horizontal or vertical position.

**Describe the solution you'd like**

**Describe anything you've already tried**

**Additional context**

[2021-03-31 02:08] krmnelson opened #20 "Extension retracted error"
Hi! I have been using Specify with Adobe Illustrator 2019. I recently upgraded to Adobe Illustrator 2020 and the extension will no longer install. It give an error code and states the extension has been retracted by partner. Can you help me with this?

[2021-03-31 02:27] adamdehaven commented on #20
Hey @krmnelson

The extension has changed to a subscription model (only $11.99/year) which supports me being able to devote more time to development, feature requests, and user support.

You can download the [latest version of Specify from Adobe Exchange at this link](https://exchange.adobe.com/creativecloud.details.106345.specify-dimensions-and-measurements.html).

There is also a new site with d

[2021-03-31 02:31] #20 closed

[2021-03-31 02:33] adamdehaven commented on #14
@chancrescolex Late reply, but I believe your request has now been resolved and is integrated into the latest version of the extension 🎉

[2021-03-31 02:35] adamdehaven commented on #8
@KevinConsen I’m going to reopen this issue and look into it in the near future. I’ve figured out some new functionality and specifying colors would fit in well.

[2021-03-31 02:36] adamdehaven commented on #7
Persistent settings are now integrated into versions >= 4.0.0

[2021-04-26 16:43] fubar2fixed opened #21 "Error Window when adding dimensions"
Users are getting this error window/message when creating dimensions using the Specift Script in Illustrator, the folder is located at  C:\Program Files\Adobe\Adobe Illustrator CC (64 Bit)\Presets\en_US\Scripts as required.

specify error => toggle Specify Dialog: IOError: File or folder does not exist

[2021-04-26 17:02] adamdehaven commented on #21
@fubar2fixed was the extension installed through Adobe Exchange?

[2021-04-26 17:05] fubar2fixed commented on #21
@adamdehaven it was not, the version of Illustrator we're using was too old to use the Extension for the Exchange so we installed the script manually.  We will need to use it this way as a temporary solution until our press is updated and we move to the new Adobe CC that will support the Exchange.

[2021-04-26 17:56] adamdehaven commented on #21
@fubar2fixed it should still work; you may need to look at the folder location. For example, for my current install of Illustrator, the folder is located at `C:\Program Files\Adobe\Adobe Illustrator 2021\Presets\en_US\Scripts`

Regardless, if you know where you saved the Specify folder, you can run it manually with `File > Scripts > Other Script` (or `Ctrl + F12`) and then choose the `Specify.jsx`

[2021-04-26 17:56] #21 closed

[2021-05-11 20:14] danielsevier opened #22 "Just purchased the plugin, Scecify.jsx but it will not install"
Just purchased the plugin, Scecify.jsx but it will not install and does not appear under my Adobe Marketplace.

[2021-05-11 21:23] adamdehaven commented on #22
Hey @danielsevier, I'm sorry you're having trouble with the extension. You're actually the second person to report this to me today. I haven't changed the extension since last month, so I'm leaning towards the issue being on Adobe's side.

The first thing I'd recommend is making sure both the Adobe Creative Cloud desktop app and Illustrator are both up to date. Then, try uninstalling the extension

[2021-05-12 01:34] adamdehaven commented on #22
Connected with the user on Twitter, so closing the issue here.

[2021-05-12 01:34] #22 closed

[2021-06-30 03:55] gloukistan opened #23 "[Feature Request] Does specify work with non-english language versions of Illustrator ?"
**Is your feature request related to a problem? Please describe.**
Does it work with the french version ?

**Describe the solution you'd like**
yes

Thanks

[2021-07-10 02:23] adamdehaven commented on #23
It should work with other languages, although French language translations are not currently built into the extension.

[2021-07-14 13:47] fubar2fixed opened #24 "IO Error: File or folder does not exist"
![Specify Error](https://user-images.githubusercontent.com/83237385/125632798-be71f821-072e-45c2-a1ce-e848b174952d.PNG)
![SpecifyInstallLocation](https://user-images.githubusercontent.com/83237385/125632799-db0ca486-c3a6-4f41-8513-97d2f60be6cb.PNG)

We have one Windows 10 PC that the script doesn't seem to work for in our old version of Illustrastor, we are using the same files on 5 other Windows

[2021-07-14 14:26] adamdehaven commented on #24
What version of Adobe Illustrator is the non-working computer running? It's hard for me to help troubleshoot the older versions of the plugin as Adobe has updated some of the dependencies depending on what version you're running.

It looks like you're trying to use an old version of the Specify script `3.2.0` -- the script has been updated and is [available through Adobe Exchange](https://exchange

[2021-07-14 14:31] fubar2fixed commented on #24
Its Illustrator V17.0, which is too old to download it via the Adobe Exchange which is why we're having to use this older version for the next few months until we can update to a newer version of CC.

[2021-07-14 14:36] adamdehaven commented on #24
Ah ok. Hmm, I'm unsure why it wouldn't be working for a single instance. It looks like it's hanging on this line, but I can't imagine why as it looks like all the files are there

[code]

[2021-07-14 15:01] fubar2fixed commented on #24
Well it seems to be working again, even with the above error still occurring, hopefully we can keep limping along until our new press arrives and we can finally upgrade everything.  Thanks Adam!

[2021-07-14 15:02] fubar2fixed commented on #24
The other users seem to be having the same error pop up but since its been working never said anything so it must be something Adobe changed.

[2021-07-14 15:18] #24 closed

[2021-09-23 22:06] billetandsons opened #25 "Possible to get fractional inches?"
I know it's not built in AI, have to deliver architectural measurements and fractional inches are all the rage there.

thanks!

[2021-09-24 13:11] #23 closed

[2021-09-24 13:17] adamdehaven commented on #25
@billetandsons so essentially what you're asking for is to be able to display `1 3/4"` instead of `1.75"` - is that correct?

Also, what's the proper way to display the measurement? For example, would you show `1 3/4"` or `1-3/4"`, etc.?

[2021-09-24 13:30] billetandsons commented on #25
thanks @adamdehaven!
Correct for 1 3/4".
They also write it as a "classic" fraction (numerator OVER denominator) but I guess this would be font/glyph dependent.
numerator/denominator would work.

here's a [ref ](https://www.dropbox.com/s/issoj4zl9rtlgvk/Dims.jpg?dl=0) from a drawing. From what I gathered the Dash is a convention but if there would be optional it will be sweet.

cheers

[2021-09-24 18:26] adamdehaven commented on #25
@billetandsons - correct, this would be font dependent (and most do not support fractions) so it would be output as `numerator/denominator`.

I've pieced together a way (still testing) to reliably do the conversion. This is going to sound like a weird ask, but can you give me some example decimals and their corresponding fractions (i.e. give me a list of the ones that are common for you). Just giv

[2021-09-24 18:29] billetandsons commented on #25
handy cheat sheet
[DB](https://www.dropbox.com/s/otm31sn89y5yu22/Decimal.jpg?dl=0)

depending on the scale, I don't think they go smaller than /16th.

[2021-09-24 18:35] adamdehaven commented on #25
Pasting here for reference
![fraction cheatsheet](https://user-images.githubusercontent.com/2229946/134723929-412f77a0-8a91-41e5-90b3-00072c216ad3.png)

[2021-09-24 18:59] billetandsons commented on #25
Like in the chart, the intervals used are 1/4s, 1/8th, 1/16th and 1/32th

[2021-09-24 19:19] adamdehaven commented on #25
So the problem I'm running into:

If I try converting `0.0156` into a fraction, I'm getting `10/641`; however, if I convert the whole decimal of `0.015625` I properly get `1/64`. Still trying to figure out the rounding.

[2021-09-24 19:49] adamdehaven commented on #25
@billetandsons so does this look like what you're wanting?
![specify extension using fractions for measurements](https://user-images.githubusercontent.com/2229946/134731978-51ffaf87-aaed-4e6a-a163-5f3c8d52973e.png)

[2021-09-24 19:55] billetandsons commented on #25
Yes Chef! This is wicked. Just what I needed.
I usually relent to this chart
https://www.engineeringtoolbox.com/inches-decimal-equivalents-d_471.html
and round up.
Usually it's for builds (like extruded logos) that are 6-8 feet wide so /16th inch is a good enough to round.

[2021-09-25 14:34] adamdehaven commented on #25
I’ve got this working and have been running through some test cases.

I’m planning to provide a “maximum denominator” field that allows the user to set the maximum denominator for the fraction which impacts how the rounding algorithm interprets the measurement (the default will be `64`).

[2021-09-25 15:21] adamdehaven commented on #25
@billetandsons one request: Would you be willing to provide me with a sample Illustrator `.ai` file with a series of example objects that would use fractions in the measurements? You don't need to run the extension, just provide me properly sized objects on the artboard.

I can run the fraction-enabled script on the file and compare the results with what you are expecting. I'd really appreciate it

[2021-09-25 17:06] billetandsons commented on #25
Hi Adam, unfortunately I can't share a specific file from our project as it's still under production, So I changed the logo on the sign.
What happens is we CNC our letters and then need to make a diagram for the construction team on how to mount the letters to the backing -
Specifying the distance of the letters from the edge of the sign.

[Specify Sign.zip](https://github.com/adamdehaven/specify/

[2021-09-25 17:13] adamdehaven commented on #25
@billetandsons even if you could just make a test file (remove any proprietary info) it would be greatly appreciated

[2021-09-25 18:38] billetandsons commented on #25
Here's something that was produced and measured by hand, including my dims.

[PayDay Sign.zip](https://github.com/adamdehaven/specify/files/7230217/PayDay.Sign.zip)

[2021-09-27 14:13] adamdehaven commented on #25
@billetandsons thanks for all of your help! I have just submitted version `4.3.0` for review to Adobe Exchange and it should be available later this week. Once released, you should see the update available in the Creative Cloud desktop application under **Marketplace** `>` **Manage plugins**

One note: when using fractions, you may have to play around with the Maximum Denominator setting to get th

[2021-09-27 14:13] #25 closed

[2021-09-27 14:18] billetandsons commented on #25
@adamdehaven thank you! It would be great.
To confirm - can the measurement return any denominator? When specifying fractional inches,
the convention is 1/2 - 1/4 - 1/8 - 1/16 - 1/32. Something like a 1/3 won't work in inches world

[2021-09-27 14:27] adamdehaven commented on #25
@billetandsons the maximum denominator setting can take any value from `1` - `999`. The algorithm cannot explicitly do math "in inches" meaning that it may return fractions that are not in your conventional measurement set.

For example, if you were to have an object that measured `1.3333` inches on one side, it will likely return `1 1/3`.

[2021-09-27 15:04] billetandsons commented on #25
I see. Is there a way to define ranges for decimals, based on a table like this
https://www.engineeringtoolbox.com/inches-decimal-equivalents-d_471.html

so any fraction can be defined to a specific range and matched withing this range to the nearest fraction?

[2021-09-27 17:59] adamdehaven commented on #25
Again, no, because this only accounts for inches and I coded the fraction feature to work with other units as well.

I believe you'll see once you play around with the updated extension that you should be able to get what you're wanting for the most part (assuming you create objects at the correct dimensions). If you look at the screenshot below, I was able to get the correct dimensions from the t

[2021-09-27 18:42] billetandsons commented on #25
got it. ! I'll test the updated extension when it lands.
once again - massive thanks for the speedy reply and updates.

[2021-10-01 11:43] adamdehaven commented on #25
@billetandsons version 4.3.0 is now available if you update via the CC desktop app. Let me know how it goes

[2022-01-07 18:09] zemel2 opened #26 "Issue with Specify"
I can open Specify but I cannot move it on my screen to grab the preferences.  Can you please assist.

[2022-01-07 19:42] adamdehaven commented on #26
@zemel2 I'm happy to help.

Can you provide me with a screen recording or some screenshots to help me understand what's happening?

[2022-01-07 19:54] zemel2 commented on #26
This what appears.  I can’t move it to get to the settings.  It stays fixed on my screen.

I don’t know if it’s a bad install.

[2022-01-07 22:41] adamdehaven commented on #26
@zemel2 I think you responded via email but the attachments didn’t come through. You’ll need to respond directly on GitHub to include the attachments.

Alternatively you can reach out on Twitter via direct message if that’s easier: [@adamdehaven](https://twitter.com/adamdehaven)

[2022-01-17 20:22] zemel2 commented on #26
Can you please assist with me the Specify install.  Essentially, it opens but then locks on the screen.  I can't change the size or move it around.

[2022-01-17 20:23] zemel2 commented on #26
![image](https://user-images.githubusercontent.com/97308761/149832998-34c98cab-6a47-49f4-9e0d-a07561a35eec.png)

[2022-01-17 20:24] zemel2 commented on #26
This is how it shows up and I can't pull it down

[2022-01-17 21:29] adamdehaven commented on #26
@zemel2 your screenshot really needs to show what you can see on your entire computer screen -- I can't tell what is going on from a screenshot of the extension panel.

This appears to be an issue with the display resolution on your computer which is nothing the extension itself can control. The extension window size is determined by the amount of content within the extension panel.

You should be

[2022-01-17 21:32] zemel2 commented on #26
![image](https://user-images.githubusercontent.com/97308761/149839083-7988329b-36dd-4c3e-ace1-8c47a0bd0fbe.png)

[2022-01-17 21:32] zemel2 commented on #26
It shows up as a box and I can't move it up down or sidewways

[2022-01-17 21:51] adamdehaven commented on #26
Thanks for the extra screenshot. It looks like the dialog window is larger than your monitor viewport and is getting cut off.

I'm looking into a permanent fix now, but in the meantime, you may need to alter your display settings in Windows to a higher resolution. By setting your display resolution to a higher pixels per inch, you should be able to view the entire extension panel.

[2022-01-17 21:53] zemel2 commented on #26
OK.  I reduced the viewable screen to 125% and that seems to work.

[2022-01-17 21:53] adamdehaven commented on #26
@zemel2 can you tell me what the setting value was set to previously?

[2022-01-17 21:54] zemel2 commented on #26
150%.  That's what was recommended.

[2022-01-17 22:08] adamdehaven commented on #26
I'm working right now to make the dialog window resizable; I'll comment back here with an update. Thanks for reporting the issue!

[2022-01-18 01:38] adamdehaven commented on #26
@zemel2 based on your feedback, I just submitted version `4.5.0` to Adobe for review which "shortens" the height of the extension window. This does cause the window to become a little wider, but most screens are wider than they are tall.

![specify-options-panel](https://user-images.githubusercontent.com/2229946/149855760-e96cb4dc-d66a-4a16-9e63-5a100104a1db.png)

The update has to be approved by

[2022-01-18 01:39] #26 closed

[2022-01-19 23:00] adamdehaven commented on #26
@zemel2 the new version `4.5.0` is now available for download. Give it a try and let me know here if this resolves the issue for you?

https://exchange.adobe.com/creativecloud.details.106345.html

[2022-01-31 21:07] Guss7777 opened #27 "[Bug Report] - Window Size"
**Describe the bug**

After the latest update, the "Cancel" and "Specify Objec(s)" buttons falls off the Specify UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch application Illustrator
2. Select object
2. Run extension
4. See bug

**Expected behavior**

Buttons should show up on UI.

**Screenshots**

[https://www.linkpicture.com/q/Specify.jpg](url)
![image](https://user-images.git

[2022-01-31 23:43] adamdehaven commented on #27
@Guss7777 thanks for reporting, I'll take a look.

Can you give me some additional info:
- Monitor size
- Display resolution settings
- Windows or Mac (and if Mac, Intel or Apple chip)

[2022-02-01 00:27] adamdehaven commented on #27
@Guss7777 I just submitted version `4.5.1` to Adobe for review which should address the issue you're seeing. I'll ping you back here when the new version is available for download.

If you're able to screen share, we can debug further if needed.

[2022-02-01 12:37] adamdehaven commented on #27
@Guss7777 version 4.5.1 is now available for download if you want to give it a try: https://exchange.adobe.com/creativecloud.details.106345.html

You should be able to update the plugin via the Creative Cloud Desktop app under Marketplace > Plugins > Manage Plugins

[2022-02-01 19:03] Guss7777 commented on #27
@adamdehaven The "Specify Objec(s)" button is still not showing. So, I'm just using "enter" at the moment.

![Specify2](https://user-images.githubusercontent.com/98779410/152033641-067f558f-181e-40d6-8871-4944ccba48a1.jpg)

[2022-02-01 19:09] adamdehaven commented on #27
@Guss7777 can you provide a screenshot that shows your entire screen instead of just the extension window?

Also, what are your display settings on your computer (e.g. if on Windows, is it set to 150% or something)?

[2022-02-01 19:16] Guss7777 commented on #27
@adamdehaven Display Settings:
![Display1](https://user-images.githubusercontent.com/98779410/152035616-7004c461-2847-4169-9378-454770a0eec1.jpg)
![Display2](https://user-images.githubusercontent.com/98779410/152035626-ad35a15b-61bd-4d9b-97a5-e8afdd1e34e6.jpg)

[2022-02-01 19:17] adamdehaven commented on #27
@Guss7777 can you provide a screenshot that shows your entire screen with Illustrator and the extension window instead of just the extension window?

[2022-02-01 19:19] Guss7777 commented on #27
@adamdehaven Full Screen
![FullScreen1](https://user-images.githubusercontent.com/98779410/152036127-63352dfb-47e1-4646-992c-2c509c025159.jpg)
:

[2022-02-01 21:00] adamdehaven commented on #27
@Guss7777 that is so odd. I can't even reproduce it (thanks for the extra screenshot).

Would you be up for doing a screen share so I can try and debug?

The only solution I can think of at the moment is to align all of the buttons to the left.

[2022-02-01 21:32] Guss7777 commented on #27
@adamdehaven sure how would you like to do the screen share? Teamviewer OK?
Left aligned buttons sounds like a good temporary solution. ;)

[2022-02-02 01:05] adamdehaven commented on #27
@Guss7777 I'm available now if you are. I can share a Google Meet link when you're ready? (or if you have another way, that's fine. I can delete the link when we're done)

[2022-02-02 13:47] adamdehaven commented on #27
Another version `4.5.2` is available now with a few other tweaks to the button layout; wondering if it helps you @Guss7777 -- we can still sync up later today if you'd like.

[2022-02-02 18:37] Guss7777 commented on #27
@adamdehaven The buttons still look the same. I'm ready for the Google Meet link, if you are.

[2022-02-02 20:38] adamdehaven commented on #27
@Guss7777 are you available at 5:30pm Eastern?

[2022-02-02 20:51] Guss7777 commented on #27
@adamdehaven We can do it now if you'd like.

[2022-02-02 20:53] adamdehaven commented on #27
I'm stuck on work calls until 5pm Eastern

[2022-02-02 20:55] Guss7777 commented on #27
@adamdehaven No probs - that's 11am here... I think. 🤔

[2022-02-02 23:00] adamdehaven commented on #27
@Guss7777 Hey sorry I'm available now if you are

[2022-02-02 23:04] Guss7777 commented on #27
@adamdehaven great let's do it. What do you need me to do?

[2022-02-02 23:05] adamdehaven commented on #27
Join here: To join the video meeting, click this link: https://meet.google.com/ubb-hsjr-egc

[2022-02-03 01:37] adamdehaven commented on #27
@Guss7777 thanks again for all of your help earlier in debugging this issue! I have version `4.5.3` awaiting Adobe review and release, and I have been able to verify this does fix the issue going forward. I'll ping you once more here when the download is available.

For any Adobe extension developers that stumble on this issue, when creating an extension window with the code shown below, be **SURE

[2022-02-03 01:37] #27 closed

[2022-02-03 19:01] Guss7777 commented on #27
@adamdehaven  Thx for getting this all sorted. It's working like a charm now. 😉 👍

[2022-02-04 02:48] adamdehaven commented on #27
@Guss7777 glad to hear that the update resolved the issue.

Thanks again for your help debugging!

[2022-02-14 20:14] benjitseng opened #28 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
I use the this to make measurements for objects that are arbitrary scaled to fit in a template so I end up having to manually edit the text for the measurements all the time. This causes the text to get misaligned with the lines, and if I have to measure many objects at the same time it can be burdensome to have to manually edit al

[2022-02-15 00:22] adamdehaven commented on #28
@benjitseng thanks for the input!

To clarify, you'd like to be able to select the text alignment for the text inside the label, or do you mean how the entire label is placed in relation to the dimension line?

Alternatively, it sounds like you're saying if you could have the line drawn as-is, but provide custom text that would be displayed instead of the measurement, that would also work?

If I p

[2022-02-16 19:30] benjitseng commented on #28
I would like to be able to select the text alignment for the text inside the label. To be clear I would like to control [this alignment](https://imgur.com/cQkAp0h) in the measurement text.

Yes you are correct with you're understanding of the custom text concept. To answer your questions, at least for my purposes, I wouldn't need the measurement text if entering a custom text and I having the cust

[2022-04-18 23:31] krmnelson opened #29 "Specify has disappeared"
Hi! Specify has disappeared from my Illustrator Extensions folder and no longer shows up in my Plugins in Creative Cloud. I just paid for a renewal also.

[2022-04-18 23:58] adamdehaven commented on #29
@krmnelson I'm seeing the same thing as you -- it disappeared from my Creative Cloud app as well; however, it's still available on Adobe Exchange for purchase/download.

I have reached out to Adobe directly to see what is going on as I have not done anything to alter the availability of the Specify plugin.

[2022-04-19 00:29] adamdehaven commented on #29
All I can recommend until I hear back is that you try emailing asupport@adobe.com with the issue as well and see if you can get a response faster than I can.

Unfortunately, they don't give developers much more help

[2022-04-19 00:33] krmnelson commented on #29
Hi Adam,

I already tried Adobe Support. They tried directing me to a fix for the
error I was getting, 1001, but the link was for MacOS. I have Windows. I
tried manually installing with the installer mentioned in your info about
Specify. It also gave an error and said to contact you, the developer. The
error said something was corrupted. I can't remember what it was.

Thank you,
Kristi

On Mon, Ap

[2022-04-19 00:45] adamdehaven commented on #29
Can you share what info they gave for the `1001` error on Mac? I can try it on my Mac.

I've reached out to another Adobe contact I have; trying to figure this out

[2022-04-19 00:59] krmnelson commented on #29
Hi Adam,

Here it is:
https://helpx.adobe.com/in/creative-cloud/kb/installation-update-failure-macos.html#sa_src=web-messaging

Thank you,
Kristi Nelson

On Mon, Apr 18, 2022 at 8:45 PM Adam DeHaven ***@***.***>
wrote:

[2022-04-19 01:47] adamdehaven commented on #29
Ugh... the download button the page doesn't even work.
I tried uninstalling/reinstalling Creative Cloud Desktop app and no luck there either; the same problem.

My Adobe contact reached back out; however, she had to forward the issue to a colleague so hopefully they get back to me tomorrow

[2022-04-19 01:57] krmnelson commented on #29
Figures. The troubleshooting links in the email for the renewal of the
plugin didn't work either.

Let me know what you find out. I use the plug in quite a bit.

Thank you,
Kristi

On Mon, Apr 18, 2022, 9:47 PM Adam DeHaven ***@***.***> wrote:

[2022-04-19 01:59] adamdehaven commented on #29
I have a temporary workaround you could try but I'd probably need you to screen-share to walk you through it. If that's something that would be helpful, we could sync up Tues or Wednesday.

Either way, I'll definitely post an update here if/when I get one.

Based on my Adobe contact's comments, this is not an isolated issue (e.g. Specify wasn't the only impacted plugin)

[2022-04-19 12:50] krmnelson commented on #29
Hi Adam,

I am ok for now. If it doesn't get resolved soon, I will get back to you.

Thank you,
Kristi Nelson

On Mon, Apr 18, 2022 at 10:00 PM Adam DeHaven ***@***.***>
wrote:

[2022-04-19 15:53] adamdehaven commented on #29
Update from Adobe:

So, behind the scenes there is now a flurry of emails as this is investigated.

Fortunately the engineers have been able to reproduce this problem, which is promising. (Problems that are not reproducible are much harder to solve....)

Both of your plugins are incorrectly throwing some sort of "expired" flag, which causes them to be uninstalled and is also triggering the entitle

[2022-04-19 15:55] krmnelson commented on #29
Ok! Thank you for the update!

On Tue, Apr 19, 2022, 11:53 AM Adam DeHaven ***@***.***>
wrote:

[2022-04-20 15:38] krmnelson commented on #29
Hi Adam,

Any update on this? I could really use Specify today!

[2022-04-20 17:33] adamdehaven commented on #29
I haven’t heard back from them yet today.

Adam

[2022-04-21 00:03] adamdehaven commented on #29
@krmnelson just received an update from Adobe:

Hi Adam,
wanted to send you a quick note and let you know that we are still looking into this, a number of people are working on identifying the root cause.

I appreciate your patience and hope to be able to giving you more details in the next update.

[2022-04-21 00:18] krmnelson commented on #29
Ugh! Ok! Thank you!

Thank you,
Kristi Nelson

On Wed, Apr 20, 2022 at 8:03 PM Adam DeHaven ***@***.***>
wrote:

[2022-04-21 14:48] adamdehaven commented on #29
Another update from Adobe:

[2022-04-21 14:53] krmnelson commented on #29
June! We don't have the option not to update the desktop app. It is
automatic and updates almost daily.

Kristi

On Thu, Apr 21, 2022, 10:48 AM Adam DeHaven ***@***.***>
wrote:

[2022-04-21 15:57] adamdehaven commented on #29
June is referring to why the plugin isn’t listed in the proper section. From my understanding, the install/usage issue is being worked on ASAP

Thanks,

Adam

[2022-04-21 16:04] krmnelson commented on #29
Ok.

Thank you,
Kristi Nelson

On Thu, Apr 21, 2022 at 11:57 AM Adam DeHaven ***@***.***>
wrote:

[2022-04-25 21:15] adamdehaven commented on #29
@krmnelson

Update from Adobe:

---

We've been investigating the entitlement issue and there's a temporary fix in place while the root of the problem is addressed. (I'm told that the temporary fix will appear permanent for end users.)

Apparently, only users with auto-renewing subscriptions were affected. Please ask your customers to try reloading your plugin from within the Creative Cloud deskto

[2022-04-25 21:31] krmnelson commented on #29
Hi Adam,

Yes! And it works! Thank you!

Thank you,
Kristi Nelson

On Mon, Apr 25, 2022 at 5:15 PM Adam DeHaven ***@***.***>
wrote:

[2022-04-26 16:40] adamdehaven commented on #29
Great, glad that worked for you! This was a surprisingly fast turnaround for Adobe

[2022-04-26 17:02] krmnelson commented on #29
Oh my goodness. That is not reassuring.

Thank you,
Kristi Nelson

On Tue, Apr 26, 2022 at 12:40 PM Adam DeHaven ***@***.***>
wrote:

[2022-07-13 23:01] zemel2 commented on #26
My computer did an update and I lost this extension.  Can you assist me with reinstalling it?

Daniel A. Zemel
FASTSIGNS North Phoenix – Store 2299 | Owner |  ***@***.***> ***@***.***

Cell: 602-799-6382  Office:  602-715-2222

4731 E. Union Hills, Suite 112, Phoenix, AZ 85050

 <http://www.fastsigns.com/> www.fastsigns.com  |  FASTSIGNS  <https://www.facebook.com/FASTSIGNS> Facebook  |  FASTSIGNS

[2022-07-15 21:53] keithrussell42 opened #30 "Pre-purchase question: UI customization"
Sorry for opening an issue for this. I couldn't figure out a better way to ask.

1. I had tried a different extension for dimensioning but it had a non-customizable UI. I prefer to have my Illustrator UI a bit lighter than some others so it was annoying. Luckily it had a free trial so I was able to cancel the subscription. So does this extension's UI follow the Illustrator UI settings (brightness,

[2022-07-15 22:29] adamdehaven commented on #30
This follows the UI light/dark settings

Yes, if the object changes you'd need to delete the outdated specs from the SPEC layer.

[2022-07-15 22:30] keithrussell42 commented on #30
Perfect. Thank you.

[2022-07-15 22:30] #30 closed

[2022-07-15 22:40] adamdehaven commented on #30
@keithrussell42 let me know if you run into any issues 👍🏻

[2022-08-21 23:11] ImpressionAbbe opened #31 "Specify Dimensions Plugin for Adobe Illustrator - Extension missing"
I've paid for the subscription for the Speccify Plugin for 5 different machines and now it has disappeared from Illustrator on all machines. I can't get it back. It's not in Creative Cloud plugins and when I go to Creative Cloud Exchange it wants me to buy it again. I have the order and subscription paid for and confirmation email.

[2022-08-21 23:22] adamdehaven commented on #31
@ImpressionAbbe let me check into this.

In the meantime, I would recommend also emailing [asupport@adobe.com](asupport@adobe.com) and describe the issue as this seems to happen on their end from time to time (if you look through the closed Issues here labeled "Adobe error" you'll see what I mean).

You can also try closing all Adobe apps, logging out of the Creative Cloud desktop app, and then lo

[2022-08-22 01:29] adamdehaven commented on #31
I looked into this a bit more and I'm not able to reproduce, so unfortunately, you're going to need to reach out to Adobe as I outlined above. On my M1 Mac Studio, the extension still appears and is working properly

![image](https://user-images.githubusercontent.com/2229946/185821682-e2c1d553-c81e-4f5d-bc65-5f006f7ae82b.png)

[2022-08-22 01:29] #31 closed

[2022-08-31 20:08] GerPapa opened #32 "[Feature Request] Simple area calculation"
**Is your feature request related to a problem? Please describe.**
No problem no - been using an older version of your code for years and just discovered it has been updated, so I purchased the new extension.
I use it to dimensions graphics in order to create proof/size verification screenshots for clients
The items I sell are priced by the area of the design - so I multiply the height and width y

[2022-09-01 02:09] adamdehaven commented on #32
@GerPapa thanks for the suggestion!

I think this would be fairly simple to implement, although, I'd need to think of how best to lay out the option in the popup UI.

I should have some spare time this weekend or next so I'll take a look and see what I can come up with.

Thanks again (and if you're now using the latest version, any updates will be pushed out via the Creative Cloud app)

[2022-09-05 21:31] #32 closed

[2022-09-05 21:33] adamdehaven commented on #32
@GerPapa I've added the feature you have requested in version `4.6.0` which was just submitted to Adobe for approval. The label placement may be tweaked a little in the future; however, for now it places the area label directly in the center of the object.

Here's what the option looks like in the Options panel

![image](https://user-images.githubusercontent.com/2229946/188514143-0530a7ee-c54f-455

[2022-09-08 17:13] GerPapa commented on #32
Just got the update -
Amazing, thank you so much!
-Ralf

On Mon, Sep 5, 2022 at 5:33 PM Adam DeHaven ***@***.***>
wrote:

[2022-09-30 03:01] benriver opened #33 "Fractional unit to nearest 1/x [Feature Request]"
**Is your feature request related to a problem? Please describe.**
I'm typically marking-up architecture/construction drawings and conventionally use fractional inches.
Usually they are rounded to the nearest 1/4", 1/8" or 1/16" like a tape measure. I thought that by specifying "Maximum fraction denominator" I would get the nearest 1/8" if I entered "8" but I actually got 5ths. Technically this is

[2022-09-30 03:13] benriver commented on #33
For completeness, I'd probably say that 5.19" would round to 5-1/4" in this case since that is a smidge closer than 5-1/8. It would lose on "The Price Is Right" show, however.

[2022-10-11 07:51] adamdehaven commented on #26
It should still be available via Marketplace, Plugins within the Creative cloud app as long as you’re still signed in to the same Adobe account.

[2022-11-22 07:27] eduard-buta opened #34 "[Bug Report] Script no longer working in AI 2023. It runs, but doesn't produce the cotation."
Unfortunately, after updating to AI 2023, the script no longer functions for me. The pop-up appears, I try to run it with the selected settings, the SPECS folder is created, but no cotation is being added. No error is being caught.

[2022-11-23 02:15] adamdehaven commented on #34
I should have time to take a look over the weekend; I'll report back

[2022-11-24 13:44] adamdehaven commented on #34
I've tested with both versions `27.0` and `27.1` and I'm not able to reproduce. Can you try following these steps:

1. Quit Illustrator
2. Uninstall the extension from the Creative Cloud desktop app
4. Restart the Creative Cloud desktop app
5. Reinstall the [Specify extension](https://exchange.adobe.com/apps/cc/106345)
6. Open Illustrator